.App{
  background-color: #45B29D;
  height: 100vh;
}

.todo{
  margin: auto;
  width: 400px;
}

.add-task{
  padding: 10px;
}

.add-task__input{
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  font-size: 18px;
  color: white;
}

.add-task__input:focus{
  outline: none;
}

.fa-plus{
  padding-left: 5px;
  padding-top: 5px;
}

ul{
  padding: 10px;
}

.task-block{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.task-block .fa-trash{
  /* display: none; */
  width: 0;
}

.task-block__task{
  padding: 10px;
}

.task-block:hover .fa-trash{
  width: 50px;
  background-color: #DF4949;
  text-align: center;
  padding-top: 15px;
  color: white;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.task-block:hover .fa-trash:hover{
  background-color: #c0392b;
}

.even{
  background-color: white;
}

.odd{
  background-color: #f7f7f7;
}

.even:hover, 
.odd:hover{
  background-color: #eee;
}