
.todo{
  margin: auto;
  width: 250px;
}

.add-task{
  padding: 10px;
}

.add-task_input{
  width: 90%;
}

.fa-plus{
  padding-left: 5px;
  padding-top: 5px;
}

ul{
  padding: 10px;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.even{
  background-color: black;
  color: white;
}