.App{
  background-color: #45B29D;
  height: 100vh;
}

.todo{
  margin: auto;
  width: 250px;
}

.add-task{
  padding: 10px;
}

.add-task_input{
  width: 90%;
}

.fa-plus{
  padding-left: 5px;
  padding-top: 5px;
}

ul{
  padding: 10px;
}

.task-block{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.task-block .fa-trash{
  /* display: none; */
  width: 0;
}

.task-block__task{
  padding: 10px;
}

.task-block:hover .fa-trash{
  /* display: inline-block; */
  width: 13.5px;
  background-color: #DF4949;
  padding: 10px;
  color: white;
  transition: display 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.task-block:hover .fa-trash:hover{
  background-color: #c0392b;
}

.even{
  /* background-color: rgb(62, 160, 141); */
  background-color: white;
}

.odd{
  background-color: #f7f7f7;
}

.even:hover, 
.odd:hover{
  background-color: #eee;
  /* background-color: greenyellow; */
}