.App{
  background-color: #45B29D;
  height: 100vh;
}

.todo{
  margin: auto;
  width: 250px;
}

.add-task{
  padding: 10px;
}

.add-task_input{
  width: 90%;
}

.fa-plus{
  padding-left: 5px;
  padding-top: 5px;
}

ul{
  padding: 10px;
}

.task{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.task .fa-trash{
  display: none;
}

.task:hover .fa-trash{
  display: inline-block;
}

.even{
  background-color: rgb(62, 160, 141);
  color: white;
}

.even:hover, 
.odd:hover{
  background-color: #DF4949;
}